<h1>Users Sign up</h1>

<%= form_for :user, url: '/users' do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Sign Up" %>
<% end %>
